@media (prefers-color-scheme: dark) {
  pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
  }

  code.hljs {
    padding: 3px 5px;
  }

  .hljs {
    color: #f8f8f2;
    background: #22212c;
  }

  .hljs::selection,
  .hljs ::selection {
    background-color: #454158;
    color: #f8f8f2;
  }

  .hljs-formula,
  .hljs-params,
  .hljs-property {
    /* purposefully do not highlight these things */
  }

  /* base03 - #7970A9 -  Comments, Invisibles, Line Highlighting */
  .hljs-comment {
    color: #7970a9;
  }

  /* base04 - #80FFEA -  Dark Foreground (Used for status bars) */
  .hljs-tag {
    color: #80ffea;
  }

  /* base05 - #F8F8F2 -  Default Foreground, Caret, Delimiters, Operators */
  .hljs-subst,
  .hljs-punctuation,
  .hljs-operator {
    color: #f8f8f2;
  }

  .hljs-operator {
    opacity: 0.7;
  }

  /* base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
  .hljs-bullet,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-selector-tag,
  .hljs-name,
  .hljs-deletion {
    color: #ff80bf;
  }

  /* base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url */
  .hljs-symbol,
  .hljs-number,
  .hljs-link,
  .hljs-attr,
  .hljs-variable.constant_,
  .hljs-literal {
    color: #9580ff;
  }

  /* base0A - Classes, Markup Bold, Search Text Background */
  .hljs-title,
  .hljs-class .hljs-title,
  .hljs-title.class_ {
    color: #8aff80;
  }

  .hljs-strong {
    font-weight: bold;
    color: #8aff80;
  }

  /* base0B - Strings, Inherited Class, Markup Code, Diff Inserted */
  .hljs-code,
  .hljs-addition,
  .hljs-title.class_.inherited__,
  .hljs-string {
    color: #ffff80;
  }

  /* base0C - Support, Regular Expressions, Escape Characters, Markup Quotes */
  .hljs-built_in,
  .hljs-doctag,
  .hljs-quote,
  .hljs-keyword.hljs-atrule,
  .hljs-regexp {
    color: #9fe;
  }

  /* base0D - Functions, Methods, Attribute IDs, Headings */
  .hljs-function .hljs-title,
  .hljs-attribute,
  .ruby .hljs-property,
  .hljs-title.function_,
  .hljs-section {
    color: #80ffea;
  }

  /* base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed */
  .hljs-type,
  .hljs-template-tag,
  .diff .hljs-meta,
  .hljs-keyword {
    color: #9580ff;
  }

  .hljs-emphasis {
    color: #9580ff;
    font-style: italic;
  }

  /* base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
  .hljs-meta,
  .hljs-meta .hljs-keyword,
  .hljs-meta .hljs-string {
    color: #8aff80;
  }

  .hljs-meta .hljs-keyword,
  .hljs-meta-keyword {
    font-weight: bold;
  }
}

@media (prefers-color-scheme: light) {
  code.hljs {
    padding: 3px 5px;
  }

  .hljs {
    color: #333;
    background: #fff;
  }

  .hljs::selection,
  .hljs ::selection {
    background-color: #c8c8fa;
    color: #333;
  }

  .hljs-formula,
  .hljs-params,
  .hljs-property {
    /* purposefully do not highlight these things */
  }

  /* base03 - #969896 -  Comments, Invisibles, Line Highlighting */
  .hljs-comment {
    color: #969896;
  }

  /* base04 - #e8e8e8 -  Dark Foreground (Used for status bars) */
  .hljs-tag {
    color: #e8e8e8;
  }

  /* base05 - #333333 -  Default Foreground, Caret, Delimiters, Operators */
  .hljs-subst,
  .hljs-punctuation,
  .hljs-operator {
    color: #333;
  }

  .hljs-operator {
    opacity: 0.7;
  }

  /* base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
  .hljs-bullet,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-selector-tag,
  .hljs-name,
  .hljs-deletion {
    color: #ed6a43;
  }

  /* base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url */
  .hljs-symbol,
  .hljs-number,
  .hljs-link,
  .hljs-attr,
  .hljs-variable.constant_,
  .hljs-literal {
    color: #0086b3;
  }

  /* base0A - Classes, Markup Bold, Search Text Background */
  .hljs-title,
  .hljs-class .hljs-title,
  .hljs-title.class_ {
    color: #795da3;
  }

  .hljs-strong {
    font-weight: bold;
    color: #795da3;
  }

  /* base0B - Strings, Inherited Class, Markup Code, Diff Inserted */
  .hljs-code,
  .hljs-addition,
  .hljs-title.class_.inherited__,
  .hljs-string {
    color: #183691;
  }

  /* base0C - Support, Regular Expressions, Escape Characters, Markup Quotes */
  .hljs-built_in,
  .hljs-doctag,
  .hljs-quote,
  .hljs-keyword.hljs-atrule,
  .hljs-regexp {
    color: #183691;
  }

  /* base0D - Functions, Methods, Attribute IDs, Headings */
  .hljs-function .hljs-title,
  .hljs-attribute,
  .ruby .hljs-property,
  .hljs-title.function_,
  .hljs-section {
    color: #795da3;
  }

  /* base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed */
  .hljs-type,
  .hljs-template-tag,
  .diff .hljs-meta,
  .hljs-keyword {
    color: #a71d5d;
  }

  .hljs-emphasis {
    color: #a71d5d;
    font-style: italic;
  }

  /* base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
  .hljs-meta,
  .hljs-meta .hljs-keyword,
  .hljs-meta .hljs-string {
    color: #333;
  }

  .hljs-meta .hljs-keyword,
  .hljs-meta-keyword {
    font-weight: bold;
  }
}
