@media (prefers-color-scheme: light) {
  :root {
    /* admonition colors */
    --color-caution: #a0439c;
    --color-important: #d32f2f;
    --color-note: #217ee7;
    --color-tip: #41af46;
    --color-warning: #e18114;
    /* doc colors */
    --color-link-font: #1565c0;
    --color-link-hover-font: #104d92;
    /* fonts */
    --body-font-color: #050505;
    /* base */
    --body-background: #f9fafb;
    --panel-background: #fefefe;
    --panel-border-color: #e1e1e1;
    --scrollbar-track-color: #fefefe;
    --scrollbar-thumb-color: #c1c1c1;
    --scrollbar_hover-thumb-color: #9c9c9c;
    /* navbar */
    --navbar-background: #191919;
    --navbar-font-color: #f9fafb;
    --navbar_hover-background: #000;
    --navbar-button-background: #f9fafb;
    --navbar-button-border-color: #e1e1e1;
    --navbar-button-font-color: #222;
    --navbar-menu-border-color: #e1e1e1;
    --navbar-menu-background: #f9fafb;
    --navbar-menu-font-color: #222;
    --navbar-menu_hover-background: #f5f5f5;
    /* nav */
    --nav-background: #f4f5f6;
    --nav-border-color: #c1c1c1;
    --nav-heading-font-color: #050505;
    --nav-muted-color: #11151a;
    --nav-panel-divider-color: #e1e1e1;
    --nav-secondary-background: #f0f0f0;
    /* toolbar */
    --toolbar-background: #f4f5f6;
    --toolbar-border-color: #e1e1e1;
    --toolbar-font-color: #050505;
    --toolbar-muted-color: #11151a;
    --page-version-menu-background: #f0f0f0;
    --page-version-missing-font-color: #8e8e8e;
    /* admonitions */
    --caution-color: var(--color-caution);
    --caution-on-color: #fff;
    --important-color: var(--color-important);
    --important-on-color: #fff;
    --note-color: var(--color-note);
    --note-on-color: #fff;
    --tip-color: var(--color-tip);
    --tip-on-color: #fff;
    --warning-color: var(--color-warning);
    --warning-on-color: #fff;
    /* doc */
    --doc-font-color: #333;
    --heading-font-color: #191919;
    --alt-heading-font-weight: var(--body-font-weight-bold);
    --section-divider-color: #e1e1e1;
    --link-font-color: var(--color-link-font);
    --link_hover-font-color: var(--color-link-hover-font);
    --link_unresolved-font-color: var(--important-color);
    --abstract-background: #f0f0f0;
    --abstract-font-color: #4a4a4a;
    --abstract-border-color: #e1e1e1;
    --admonition-background: #e9eced;
    --caption-font-color: #5d5d5d;
    --code-background: #f0f2f4;
    --code-font-color: #222;
    --example-background: #fcfdfd;
    --example-border-color: #eee;
    --kbd-background: #f0f2f4;
    --kbd-border-color: #c1c1c1;
    --pre-background: #f0f2f4;
    --pre-border-color: #e1e1e1;
    --pre-annotation-font-color: #808080;
    --quote-background: #f0f2f4;
    --quote-border-color: #b6b9ba;
    --quote-font-color: #333;
    --quote-attribution-font-color: #444;
    --sidebar-background: #e9eced;
    --table-border-color: #e3e7e9;
    --table-stripe-background: #fefefe;
    --table-footer-background: linear-gradient(to bottom, #f9fafb 0%, #f1f3f4 100%);
    /* toc */
    --toc-font-color: var(--nav-muted-color);
    --toc-heading-font-color: var(--doc-font-color);
    --toc-border-color: #e1e1e1;
    /* footer */
    --footer-background: #e3e7e9;
    --footer-font-color: #5d5d5d;
    --footer-link-font-color: #191919;
    /* filters */
    --filter-icon: invert(0%) sepia(98%) saturate(9%) hue-rotate(152deg) brightness(100%) contrast(102%);
    --filter-logo-footer: invert(0);
    --filter-fire-icon: invert(9%) sepia(91%) saturate(5800%) hue-rotate(2deg) brightness(101%) contrast(115%);
  }
}
