@media (prefers-color-scheme: dark) {
  :root {
    /* admonition colors */
    --color-caution: #3a125f;
    --color-important: #4d0000ff;
    --color-note: #004f70;
    --color-tip: #143f;
    --color-warning: #993000;
    /* doc colors */
    --color-link-font: #9580ff;
    --color-link-hover-font: #7970a9;
    /* fonts */
    --body-font-color: #f8f8f2;
    /* base */
    --body-background: #17161d;
    --panel-background: #22212c;
    --panel-border-color: #424450;
    --scrollbar-track-color: #22212c;
    --scrollbar-thumb-color: #7970a9;
    --scrollbar_hover-thumb-color: #454158;
    /* navbar */
    --navbar-background: #0b0b0f;
    --navbar-font-color: #f8f8f2;
    --navbar_hover-background: #17161d;
    --navbar-button-background: #17161d;
    --navbar-button-border-color: #454158;
    --navbar-button-font-color: #fff;
    --navbar-menu-border-color: #0b0b0f;
    --navbar-menu-background: #17161d;
    --navbar-menu-font-color: #f8f8f2;
    --navbar-menu_hover-background: #22212c;
    /* nav */
    --nav-background: #141414ff;
    --nav-border-color: #424450;
    --nav-heading-font-color: #f8f8f2;
    --nav-muted-color: #f8f8f2a5;
    --nav-panel-divider-color: #393649;
    --nav-secondary-background: #17161d;
    /* toolbar */
    --toolbar-background: #141414ff;
    --toolbar-border-color: #424450;
    --toolbar-font-color: #f8f8f2;
    --toolbar-muted-color: #f8f8f2a5;
    --page-version-menu-background: #22212c;
    --page-version-missing-font-color: #f8f8f2;
    /* admonitions */
    --caution-color: var(--color-caution);
    --caution-on-color: #fff;
    --important-color: var(--color-important);
    --important-on-color: #fff;
    --note-color: var(--color-note);
    --note-on-color: #fff;
    --tip-color: var(--color-tip);
    --tip-on-color: #fff;
    --warning-color: var(--color-warning);
    --warning-on-color: #fff;
    /* doc */
    --doc-font-color: #f8f8f2;
    --heading-font-color: #f8f8f2;
    --alt-heading-font-weight: var(--body-font-weight-bold);
    --section-divider-color: #393649;
    --link-font-color: var(--color-link-font);
    --link_hover-font-color: var(--color-link-hover-font);
    --link_unresolved-font-color: #ff9580;
    --abstract-background: #22212c;
    --abstract-font-color: #f8f8f2;
    --abstract-border-color: #424450;
    --admonition-background: #1f1e28;
    --caption-font-color: #f8f8f2;
    --code-background: #2e2b3b;
    --code-font-color: #f8f8f2;
    --example-background: #22212c;
    --example-border-color: #424450;
    --kbd-background: #22212c;
    --kbd-border-color: #424450;
    --pre-background: #22212c;
    --pre-border-color: #424450;
    --pre-annotation-font-color: #f8f8f2;
    --quote-background: #22212c;
    --quote-border-color: #7970a9;
    --quote-font-color: #fff;
    --quote-attribution-font-color: #f8f8f2;
    --sidebar-background: #1f1e28;
    --table-border-color: #424450;
    --table-stripe-background: #22212c;
    --table-footer-background: linear-gradient(to bottom, #17161d 0%, #393649 100%);
    /* toc */
    --toc-font-color: var(--nav-muted-color);
    --toc-heading-font-color: var(--doc-font-color);
    --toc-border-color: #424450;
    /* footer */
    --footer-background: #22212c;
    --footer-font-color: #f8f8f2a5;
    --footer-link-font-color: #f8f8f2;
    /* filters */
    --filter-icon: invert(75%) sepia(0%) saturate(7500%) hue-rotate(39deg) brightness(112%) contrast(112%);
    --filter-icon-search: invert(75%) sepia(0%) saturate(7500%) hue-rotate(39deg) brightness(112%) contrast(112%);
    --filter-logo-footer: brightness(0) invert(1);
    --filter-fire-icon: invert(72%) sepia(92%) saturate(1187%) hue-rotate(3deg) brightness(100%) contrast(100%);
  }

  mark {
    background-color: #e6db74;
  }

  span.source-lang {
    color: #7970a9;
  }
}
